<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="news; else loading">
    <div *ngFor="let newsData of news">
    <!-- <pre>{{newsData | json}}</pre> -->
      <app-news-card [newsData]="newsData"></app-news-card>
    </div>
  </div>
</ion-content>

<ng-template #loading>Loading news</ng-template>
